<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do list</title>
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/todo-list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new task" required>
            <button type="submit">Add task</button>
        </form>
    </div>
    <ul>
        <% for(var i=0;i < todos.length;i++){  %>
            <li><%=todos[i].item%></li>
        <% } %>
    </ul>
    
</body>
</html>